{
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": ["./tsconfig.json"] },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:eslint-plugin-react/recommended",
    "plugin:eslint-plugin-react-hooks/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-var-requires": "off",
    "react/jsx-filename-extension": "off" // or 0
    // warn or 1 - to show as a warning
    // error or 2 - to show as an error
  },
  "ignorePatterns": [
    "node_modules/"
  ],
  "settings": {
    "react": {
      "version": "18.2"
    }
  }
}
